.char__selected-input {
   &-find {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 15px;
      margin-top: 10px;

      font-weight: 700;
      font-size: 18px;
      line-height: 21px;

      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);

      &-container {
         position: relative;
         display: flex;
         justify-content: space-between;
         align-items: center;

         .button-main {
            background: #9f0013;
            border: 1px solid #9f0013;
         }
      }
   }

   &-char-list {
      font-weight: 400;
      max-height: 160px;

      overflow: hidden;

      &-item {
         min-height: 25px;
         margin-bottom: 10px;
         transition: all 0.2s linear;
         &:last-child {
            margin-bottom: 0px;
         }

         &:hover {
            background-color: rgb(219, 124, 124);
            transform: scale(1.03);
            transform: translateX(5px);
         }

         a {
            display: block;
         }
      }
   }
}

.form-container {
   max-width: 100%;
   position: relative;

   input {
      min-height: 40px;
      width: 220px;
      padding: 5px;
      font-size: 16px;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);

      &:focus {
         border: 2px solid #000000;
      }
   }

   .clear-button {
      position: absolute;
      top: 0%;
      right: 0%;
      opacity: 0.3;
      width: 40px;
      height: 40px;

      &:hover {
         opacity: 1;
         background-color: rgba(0, 0, 0, 0.1);
         border: 1px solid (0, 0, 0, 0.25);
         border-radius: 20px;
      }
   }
}
