.char__list-buttons {
   margin-top: 40px;
   display: flex;
   align-items: center;
   flex-direction: column;
   grid-gap: 30px;
   .button-main,
   .button-secondary {
      width: 200px;
   }
}
