.wrapper {
   width: 45%;
   margin: 50px auto;
   display: flex;
   flex-direction: column;
   gap: 20px;
}

.error {
   color: #9f0013;
   font-size: 40px;
   font-weight: bold;
   text-transform: uppercase;
}

.description {
   text-align: justify;
   font-size: 26px;
}

.link {
   margin-top: 10px;
   text-align: center;
   font-size: 27px;
   color: #9f0013;
   font-weight: bold;
   &:hover {
      text-decoration: underline;
      font-size: 28px;
   }
}
