.single-comic {
   position: relative;
   max-width: 1100px;
   margin: auto;
   display: grid;
   grid-template-columns: 0.8fr 1.4fr 0.8fr;
   grid-template-rows: 1fr;
   gap: 0px 50px;
   grid-template-areas: ". . .";

   img {
      object-fit: cover;
      width: 293px;
      height: 450px;
      padding: 0;
   }
}

.single-comic__name {
   width: 550px;
   height: 29px;
   margin: 10px 0px 25px;
   font-style: normal;
   font-weight: 700;
   font-size: 22px;
   line-height: 26px;
   color: #000000;
}

.single-comic__descr {
   display: block;
   min-width: 74px;
   min-height: 24px;
   margin: 10px 0px 23px;
}

.single-comic__price {
   width: 56px;
   height: 32px;
   font-style: normal;
   font-weight: 700;
   font-size: 24px;
   line-height: 28px;
   color: #9f0013;
}

.single-comic__back {
   position: absolute;
   right: 0;
   top: 10px;
   width: 76px;
   height: 24px;
   font-style: normal;
   font-weight: 700;
   font-size: 18px;
   line-height: 21px;
   color: #000000;
}
