.single_char {
   &-container {
      display: flex;
      flex-direction: row;
      gap: 50px;

      &-img {
         min-width: 300px;
         max-height: 300px;
      }
   }

   &-container-descr-wrapper {
      display: flex;
      flex-direction: column;
      gap: 30px;
      max-width: 550px;
   }

   &-title {
      font-size: 22px;
      font-weight: bold;
      text-transform: uppercase;
   }

   &-descr {
      font-size: 18px;
   }
}
