.single-comics-container {
   display: flex;
   justify-content: space-between;
}

.single-comics-img {
   width: 300px;
   min-height: 450px;
}

.single-comics-descr-wrapper {
   width: 550px;
   display: flex;
   flex-direction: column;
   gap: 25px;
}
.single-comics-title {
   font-size: 22px;
   font-weight: bold;
}
.single-comics-descr,
.single-comics-pages,
.single-comics-language {
   font-size: 18px;
}

.single-comics-price {
   color: $main-color;
   font-size: 24px;
   font-weight: bold;
}

.back-to-all-button {
   border: 2px solid black;
   text-decoration: underline !important;
   font-size: 18px;
   font-weight: bold;
   max-height: 20%;
}
