@import "./reset";
@import "./variable";

@import "../components/random-char/random-char";
@import "../components/app-banner/app-banner";
@import "../components/app-header/app-header";
@import "../components/char-content/char-content";
@import "../components/comics-list/comics-list";
@import "../components/char-content/GenerateCharList/generate-char-list";
@import "../components/char-content/GenerateLoadNewCharsList/generate-load-new-chars-list";
@import "../components/char-content/GenerateSelectCharContent/generate-select-char-content";
@import "../components/UI/scroll-up-button/scroll-up-button";
@import "../components/UI/modal-window/modal-window";
@import "../components/UI/error-message/error-message";
@import "../components/OnePageContent/OnePageContent";
@import "../components/char-content/FindInputChar/FindInputChar";
* {
   font-family: "Roboto Condensed", sans-serif;
}

body {
   // background-color: #232222;
   max-width: 100vw;
   max-height: 100vh;
   position: relative;
}
#root {
   max-width: 100vw;
   max-height: 100vh;
}

button {
   transition: transform 150ms linear;
}

.bg__img {
   position: absolute;
   right: -174px;
   bottom: -70px;
   z-index: -1;
}

.container {
   padding: 0;
   margin: 0;
}

.app {
   max-width: 1100px;
   margin: 0 auto;
   padding: 50px 0 50px 0;
   position: relative;
}

.button-main,
.button-secondary {
   min-width: 110px;
   min-height: 40px;
   border-radius: 6px;
   box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
   color: #ffffff;
   font-size: 16px;
   font-weight: 800;
   line-height: 16px;
   letter-spacing: 1.2px;
   text-align: center;
   user-select: none;
}
.button-main:hover,
.button-secondary:hover {
   transform: translateY(-5px);
}

.button-main:active,
.button-secondary:active {
   opacity: 0.5;
   background-color: #fff;
   color: #414c55;
}
.button-main {
   background-color: $main-color;
   background: $main-color;
   border: 1px solid $main-color;
}

.button-secondary {
   background-color: #414c55;
   background: #414c55;
   border: 1px solid #414c55;
}

.active {
   color: $main-color !important;
}
