@import "./reset";
@import "./variable";

@import "../components/RandomCharacterBlock/RandomCharacterBlock";
@import "../components/AppBanner/AppBanner";
@import "../components/AppHeader/AppHeader";
@import "../components/ComicsLists/ComicsLists";
@import "../components/CharactersLists/CharactersLists";
@import "../components/SelectedCharacterInfo/SelectedCharacterInfo";
@import "../components/CharacterSearchBlock/CharacterSearchBlock";
@import "../components/SinglePageContent/SinglePageContent";
@import "../components/UI/ScrollUpButton/ScrollUpButton";
@import "../components/UI/ModalWindow/ModalWindow";
@import "../components/UI/ErrorMessage/ErrorMessage";
@import "../components/Pages/404Page/404page";
* {
   font-family: "Roboto Condensed", sans-serif;
}

body {
   // background-color: #232222;
   width: 100vw;
   overflow-x: hidden;
   height: 100vh;
   position: relative;
}

button {
   transition: transform 150ms linear;
}

.footer_img {
   position: absolute;
   right: 0px;
   bottom: 0px;
   z-index: -1;
}

.container {
   padding: 0;
   margin: 0;
}

.app {
   max-width: 1100px;
   margin: 0 auto;
   padding: 50px 0 50px 0;
   position: relative;
}

.button-main,
.button-secondary {
   min-width: 110px;
   min-height: 40px;
   border-radius: 6px;
   box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
   color: #ffffff;
   font-size: 16px;
   font-weight: 800;
   line-height: 16px;
   letter-spacing: 1.2px;
   text-align: center;
   user-select: none;
}
.button-main:hover,
.button-secondary:hover {
   transform: translateY(-5px);
}

.button-main:active,
.button-secondary:active {
   opacity: 0.5;
   background-color: #fff;
   color: #414c55;
}
.button-main {
   background-color: $main-color;
   background: $main-color;
   border: 1px solid $main-color;
}

.button-secondary {
   background-color: #414c55;
   background: #414c55;
   border: 1px solid #414c55;
}

.active {
   color: $main-color !important;
}
