.randomchar {
   max-width: 100%;
   min-height: 260px;
   margin: 50px auto;
   box-sizing: border-box;
   display: grid;
   grid-template-columns: repeat(2, 50%);
   box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
   overflow: hidden;
}

.randomchar__block {
   max-width: 100%;
   padding: 40px 35px;
   max-height: 260px;
   display: flex;
   gap: 20px;

   @media (max-width: 1000px) {
      padding: 15px;
      justify-content: space-between;
      align-items: center;
   }
   @media (max-width: 600px) {
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
   }
}

.randomchar__block-img {
   max-width: 180px;
   min-width: 180px;
   object-fit: fill;
   @media (max-width: 1000px) {
      max-width: 100%;
      max-height: 80%;
   }
   @media (max-width: 600px) {
      max-width: 100%;
      max-height: 55%;
   }
}

.randomchar__block-info {
   max-width: 270px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;

   @media (max-width: 600px) {
      align-items: center;
      gap: 10px;
   }
}

.randomchar__name {
   margin: 0;
   padding: 0;
   font-weight: bold;
   font-size: 22px;
   letter-spacing: -0.045em;
   color: black;

   @media (max-width: 600px) {
      font-size: 22px;
      overflow: hidden;
   }
}

.randomchar__button-flex {
   display: flex;
   gap: 20px;
   justify-content: center;

   @media (max-width: 1060px) {
      display: inline;
      .button-main {
         margin-right: 15px;
         margin-bottom: 10px;
      }
   }
}

.randomchar__selected-descriptioniption {
   font-size: 16px;
   line-height: 18px;
   max-width: 270px;
   max-height: 90px;
   overflow: hidden;
   text-overflow: ellipsis;

   @media (max-width: 600px) {
      display: none;
   }
}

.randomchar__static {
   max-width: 100%;
   max-height: 260px;
   padding: 40px 35px;
   background-color: #232222;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   position: relative;

   .button-main:active {
      background-color: #fff;
   }
   .button-main {
      max-width: 108px;
   }

   @media (max-width: 900px) {
      padding: 15px;
   }
}

.randomchar__static-title {
   margin: 0;
   padding: 0;
   font-weight: bold;
   font-size: 24px;
   color: white;
   @media (max-width: 600px) {
      font-size: 22px;
   }
}

.randomchar__static-decoration {
   width: 202.54px;
   height: 189px;
   bottom: 14px;
   right: -44px;
   position: absolute;

   @media (max-width: 1000px) {
      display: none;
   }
}

.char__select {
   font-weight: bold;
   font-size: 18px;
   line-height: 24px;
   text-align: center;
}

//!  MEDIA  /////////////////////////////////////////////////////////
